<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BotAPI" connectionString="1058843020:AAEiRJNeRRw7jWNXWiIkvQtoNKGfw8cC97M"/>
    <add name="MongoDB" connectionString="mongodb+srv://vozClesor:XQj30l1vFEGpt3Fv@vozcompetitions-x8gjj.mongodb.net/test"/>
  </connectionStrings>
</configuration>